<h2>Help</h2>

<p>
  <h6>I don't want my messages to be transcribed by RedBot!</h6>
  You can always opt-out by changing your RedBot policy to <code>all</code>.
</p>

<p>
  <h6>What policies are there?</h6>
  <ul>
    <li><code>/policy all</code> enables all policies - transcript will hide your identity.</li>
    <li><code>/policy no-username</code> toggles <code>no-username</code> policy - will replace all occurences of your username with <code>REDACTED</code>.</li>
    <li><code>/policy none</code> disables all policies - transcript won't hide your identity.</li>
  </ul>
</p>

<p>
  <h6>I hate this/I love this, how can I contact you?</h6>
  Write me a message on Telegram - my username is <code>@are1000</code>. You can also mail me at <code>me [at] iama.re</code>.
</p>

<h2>About</h2>
<p>This is a webpage accompanying RedBot, where it meticulously transcribes messages from Telegram, so folks from our community can be up to date with latest blockchain and ICO related news.</p>
<p style="font-size: 14px;">RedBot and this website was created by Are (<a href="https://github.com/are1000">@are1000</a>)</p>
